pandas==2.0.3
# milvus==2.2.8
# pymilvus==2.2.8
gradio==3.37.0
transformers==4.31.0
#torch==2.0.1
accelerate==0.21.0
ipywidgets==8.1.5
tokenizers==0.13.0
# sentence-transformers==3.4.0
beautifulsoup4==4.11.1

chromadb

langchain
langchain_community

python-dotenv


sentence-transformers
requests
# torch
bitsandbytes
huggingface_hub

pysqlite3-binary ## Install this after running setup-chromadb.py

# faiss-cpu

# langchain==0.1.19
# langchain_community==0.0.38
# PyPDF2==3.0.1
# python-dotenv==1.0.1
# faiss-cpu==1.8.0



# pandas
# gradio
# transformers==4.24.0
# #torch==2.0.1
# accelerate
# ipywidgets
# tokenizers==0.13.0
# chromadb==0.5.0
# pysqlite3-binary
# beautifulsoup4
# sententence-transformers==2.2.2
# typing-extensions==4.8.0

